.container-fluid {
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#viewport * {
  height: 100%;
}

#viewport > * > * > * * {
  height: initial;
}

#viewport {
  position: relative;
}

#viewport > * {
  position: absolute;
  width: 100%
}

#viewport > * > * > *{
  padding: 10px;
}

#chat > #nick {
  font-weight:bold;
}

#userList > li {
  padding: 5px 10px;
  line-height: normal;
}

#cntPart input[type="text"] {
  text-align: right;
}

#cntPart input[readonly] {
  background-color: #ffffff;
}

.err {
  color: #d81a1d
}

.suc {

}
