.container-fluid {
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#viewport * {
  height: 100%;
}

#viewport > * > * > * * {
  height: initial;
}

#viewport {
  position: relative;
}

#viewport > * {
  position: absolute;
  width: 100%
}

#viewport > * > * > *{
  padding: 15px;
}
